{% extends "base.html" %}
{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
	<div class="jumbotron text-center">
		<h1>Forum</h1>
	</div>

	{% block navbar %}
		{{ super() }}
	{% endblock %}

	{% if not session['logged'] %}
	<div class="container-fluid d-flex justify-content-center">
		<div class="row">
			<div class="col m-3 p-3 shadow">
				<form action="/signup" method="post">
					<h3>Signup</h3>
					<div class="form-group">
						<input type="text" class="form-control" name="name" placeholder="Name: " pattern="[^('\x22\s)].{3,22}" required>
					</div>
					<div class="form-group">
						<input type="password" class="form-control" name="password" placeholder="Password: " pattern=".{6,}" required>
					</div>
					<button class="btn btn-primary">Signup</button>
				</form>
			</div>

			<div class="col m-3 p-3 shadow">
				<form action="/login" method="post">
					<h3>Login</h3>
					<div class="form-group">
						<input type="text" class="form-control" name="name" placeholder="Name: " required>
					</div>
					<div class="form-group">
						<input type="password" class="form-control" name="password" placeholder="Password: " required>
					</div>
					<button class="btn btn-primary">Login</button>
				</form>
			</div>
		</div>
	</div>
	{% endif %}


	{% if session['logged'] %}
	<div class="container">
		<fieldset>
			<form action="/create_post" method="post">
				<h3>Create a post</h3>
				<br>
				<div class="form-group">
					<input type="text" class="form-control" name="title" placeholder="Title: " pattern=".{3,52}" required>
				</div>
				<div class="form-group">
					<textarea name="body" class="form-control" placeholder="Write down your thoughts..." required></textarea>
				</div>
				<div class="form-group">
					<select name="category" class="form-control" required>
						{% for category in categories %}
						<option value="{{category}}">{{category.name}}</option>
						{% endfor %}
					</select>
				</div>

				<button class="btn btn-primary">Post!</button>
			</form>
		</fieldset>

		<form action="/logout">
			<button class="btn btn-danger btn-lg">Log Out</button>
		</form>
	</div>

	{% block alerts %}
		{{ super() }}
	{% endblock %}

	{% endif %}
{% endblock %}