<!DOCTYPE html>
<html>
<head>
	<title>Fórum</title>
	<meta charset="utf-8">
</head>
<body>
	<h1 style="text-align: center;">Fórum</h1>
	<form action="/signup" method="post">
		<h3>Signup</h3>
		<input type="text" name="name" placeholder="Name: ">
		<input type="password" name="password" placeholder="Password: ">
		<button>Signup</button>
	</form>

	<form action="/login" method="post" style="float: right;">
		<h3>Login</h3>
		<input type="text" name="name" placeholder="Name: ">
		<input type="password" name="password" placeholder="Password: ">
		<button>Login</button>
	</form>

	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul style="text-align: center;">
		{% for msg in messages %}
		<li style="float: none;">{{ msg }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
</body>
</html>