<!DOCTYPE html>
<html>
<head>
	<title>Forum</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="{{ url_for('static', filename='img/fallout.ico') }}" rel="shortcut icon" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<h1 style="text-align: center;">Forum</h1>
	{% if not session['logged'] %}
	<form action="/signup" method="post">
		<h3>Signup</h3>
		<input type="text" name="name" placeholder="Name: " pattern="[^('\x22\s)].{3,22}" required>
		<input type="password" name="password" placeholder="Password: " pattern=".{6,}" required>
		<button>Signup</button>
	</form>

	<form action="/login" method="post" style="float: right;">
		<h3>Login</h3>
		<input type="text" name="name" placeholder="Name: " required>
		<input type="password" name="password" placeholder="Password: " required>
		<button>Login</button>
	</form>
	{% endif %}

	{% if session['logged'] %}
	<fieldset>
		<form action="/create_post" method="post">
			<h3>Create a post</h3>
			<input type="text" name="title" placeholder="Title: " pattern=".{3,52}" required>
			<textarea name="body" placeholder="Write down your thoughts..." required></textarea>
			<button>Post!</button>
		</form>
	</fieldset>

	<form action="/logout">
		<button>Log Out</button>
	</form>
	{% endif %}

	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul style="text-align: center;">
		{% for msg in messages %}
		<li style="float: none;">{{ msg }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
</body>
</html>