<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Log Out</title>
	<link rel="stylesheet" type="text/css" href="css/hero_bg.css">
	<link href="img/fallout.ico" rel="shortcut icon" type="image/x-icon">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="glass_bg">
		<h1>Você se desconectou <br> com sucesso!</h1>
		<a href="/home">
			<button id="circle">
				<i class="fa fa-home fa-3x" style="color: white;"></i>
			</button>
		</a>
	</div>
	<img src="static/img/arizona-asphalt.jpg" class="hero">
</body>
</html>